#controller{
	display: block;
	position: relative;
  	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	Button{
		margin-right: 10px; 
	}
	.timer{
		min-width:300px;
		margin-top: 15px;
		border-style: solid;
		border-color: green;
		border-radius: 5px;
		display: block;
		text-align: center;
		font-size: 3rem;
		font-weight: 400;

	}

}
#optionController{
	width: 40vw;
	display: flex;
	flex-direction: column;
	.timeOptions{
		display: flex;
		flex-direction: column;
		.timeOption-field{
			align-self: center;
		}
	}
	.restOptions{
		display: flex;
		flex-direction: column;
		.restOption-field{
			align-self: center;
		}
	}
	.addOption{
		align-self: center;
		color: green;
		cursor: pointer;

	}
	.removeOption{
		align-self: center;
		color:red;
		cursor: pointer;

	}
}
#summary{
    padding-top: 2%;
    text-align: center;
    .header{
        font-weight: 2.0;
        font-size: 1.5rem;
        text-transform: capitalize;

    }


}
